
@{
    ViewBag.Title = "PaynowPaymentsReturnUrl";
}

<fieldset style="margin-top: 3em">
    @*    <legend>Payment Confirmation</legend>*@
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Payment Confirmation</div>
        <div class="panel-body">
            Thank You for placing your order with us. You will receive payment confirmation shortly. Kindly check your mail for order status
        </div>
    </div>
</fieldset>


